@import "tailwindcss";

@theme {
  --font-mono: var(--font-geist-mono);
  --color-orb-cyan: #00ffff;
  --color-orb-red: #ff0000;
  --color-orb-green: #00ff00;
}

:root {
  --background: #000000;
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-mono), monospace;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

/* Custom scrollbar to fit the theme */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #333;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Utilities */
.text-xxs {
  font-size: 10px;
  line-height: 1.2rem;
}
